{% extends "base.html" %}
{% block additional_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <style>
        th , td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>코로나 일자별 현황</strong> <small>- {{date}}</small>
{% endblock %}
{% block content %}
    <!-- DatePicker -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <div class="form-group">
                <label class="control-label mr-2">날짜:</label>
                <input type="text" name="dateCustomer" id="datepicker1">
                <button class="btn btn-success btn-sm ml-2" id="submit" type="button">검색</button>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <table class="table table-borderless">
            <tr>
                <th>도시</th>
                <th>사망자</th>
                <th>전일대비</th>
                <th>누적확진자</th>
                <th>지역발생</th>
                <th>해외유입</th>
                <th>격리해제</th>
                <th>격리중</th>
                <th>10만명당</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{ "%.2f"|format(row[9]) }}</td>                
            </tr>
            {% endfor %}
        </table>
        <div class="col-3"></div>
    </div>
{% endblock %}
{% block additional_body %}
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
    $(function() {
        $("#datepicker1").datepicker();
    });

    $('#submit').on('click', function(e) {
        e.preventDefault();

        date = $('#datepicker1').val(); 
        endpoint = '/covid/all_info?date=' + date;

        window.location.href = endpoint

        return false;
    });
</script>
{% endblock %}