{% extends "base.html" %}
{% block additional_head %}
    <style>
        td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>버거 지수</strong> <small>- {{item}}</small>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <table class="table table-borderless">
            <tr>
                <td style="text-align:center">
                    <img src="{{url_for('static', filename='img/burger.png', q=mtime)}}"
                                    width="600" alt="버거 지수">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-3">
        <table class="table table-striped mt-5">
            <thead class="thead-dark ">
                <tr>
                    <th colspan="2" style="text-align: center;">TOP 10</th>
                </tr>
            </thead>
        {% for i in top10.index %}
            <tr>
                <td>{{top10.ID[i]}}</td>
                {% if item == '버거지수' %}
                <td>{{top10[item][i]}}</td>
                {% elif item.find('1만명')>= 0 %}
                <td>{{top10[item][i]}}개</td>
                {% else %}
                <td>{{top10[item][i] | int()}}개</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-8">
        <table class="table">
            <tr>
                <td></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/index'">버거지수</button></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/king'">버거킹</button></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/mac'">맥도날드</button></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/lotte'">롯데리아</button></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/KFC'">KFC</button></td>
                <td><button class="btn btn-light" onclick="location.href='/cartogram/burger/touch'">맘스터치</button></td>
            </tr>
            <tr class="table-light">
                <td><strong>1만명 당</strong></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/index/population'">버거지수</button></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/king/population'">버거킹</button></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/mac/population'">맥도날드</button></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/lotte/population'">롯데리아</button></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/KFC/population'">KFC</button></td>
                <td><button class="btn btn-dark" onclick="location.href='/cartogram/burger/touch/population'">맘스터치</button></td>
            </tr>
        </table>
    </div>
    <div class="col-1"></div>
</div>
    <!-- <div>를 사용했을 때 버튼의 줄바꿈을 막으려면 버튼에 style="white-space: nowrap"  -->
{% endblock %}