{% extends "base.html" %}
{% block additional_head %}
    <style>
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>코로나 성별·연령별 현황</strong> <small>- {{date}}</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"></div>
        <table class="table table-borderless">
            <tr>
                <th>구분</th>
                <th>확진자</th>
                <th>확진율</th>
                <th>사망자</th>
                <th>확진율</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{ "%2.2f"|format(row[4]) }}</td>
                <td>{{row[3]}}</td>
                <td>{{ "%2.2f"|format(row[5]) }}</td>
                <!-- <td>{{row[5] | round(2)}}</td> -->
            
            </tr>
            {% endfor %}
        </table>
        <div class="col-3"></div>
    </div>
{% endblock %}