{% extends "base.html" %}
{% block additional_head %}
    <style>
        th , td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>코로나 지역별 그래프</strong> 
{% endblock %}
{% block content %}
    <form action="/covid/sido_graph" method='post'>
        <table class="table table-borderless mb-5">
            <tr>
                <td colspan="2">
                    <img src="{{url_for('static', filename='img/sido_graph.png', q=mtime)}}"
                            width="600" alt="코로나-19 지역별 추이 이미지">
                </td>
            </tr>
            <tr>
                <td>
                    시작일
                </td>
                <td>
                    종료일
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% for city in city_list %}
                    <div class="form-check-inline">
                        <label class="form-check-label" for="city{{loop.index}}">
                            <input type="checkbox" class="form-check-input" id="city{{loop.index}}" name="city" value="{{city}}">{{city}}
                        </label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit" id="submit" class="btn btn-dark mb-2">그리기</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block additional_body %}
<script>
    /* date만 가져오면 돼 */
    /* 왠지 분명히 React로 할 수 있을것만 같은 느낌임... */
    $('#submit').on('click', function(e) {
        e.preventDefault();

        city = $('#datepicker1').val(); 
        endpoint = '/covid/sido_graph?city=' + city;

        window.location.href = endpoint

        return false;
    });
</script>
{% endblock %}